<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276137621059-3shc87257niunog27j08pof6riqo9hpg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276137621059-3shc87257niunog27j08pof6riqo9hpg</string>
	<key>API_KEY</key>
	<string>AIzaSyBhBkuPyl_yNMld2fY9a7GDzPZ3elJwZ7g</string>
	<key>GCM_SENDER_ID</key>
	<string>276137621059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.TrainingAppRework</string>
	<key>PROJECT_ID</key>
	<string>trainingapprework-d8fc7</string>
	<key>STORAGE_BUCKET</key>
	<string>trainingapprework-d8fc7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276137621059:ios:e218eae6977da4c8e746f6</string>
</dict>
</plist>